<a href="https://colab.research.google.com/github/Cappuccino226/4090E106/blob/master/20200921(%E4%B8%89).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
a = 33
b = 200
 
if b > a:
  print("b is greater than a")

b is greater than a

In [4]:
a = 33
b = 20
 
if b > a:
  print("b is greater than a")

In [5]:
a = 32
b = 33
 
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

b is greater than a

In [6]:
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

a and b are equal

In [8]:
a = 35
b = 33
 
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

In [9]:
a = 200
b = 33
 
if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

In [10]:
a = 200
b = 33
 
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

In [11]:
year= eval(input("請輸入年"))
 
if ((year%400==0) or (year%4==0 and year%100!=0)):
  print("{0} 是閏年".format(year))
else:
  print("{0} 不是閏年".format(year))

請輸入年2020
2020 是閏年

In [12]:
import time
 
date = time.localtime() 
print(date)

time.struct_time(tm_year=2020, tm_mon=9, tm_mday=21, tm_hour=11, tm_min=20, tm_sec=11, tm_wday=0, tm_yday=265, tm_isdst=0)

In [14]:
 year, month, day = eval(input("請輸入年月日"))
year, month, day

請輸入年月日2020, 9, 21

(2020, 9, 21)

In [15]:
day_month = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
year = 0
if year%400==0 or (year%4==0 and year%100!=0):  
  day_month[1] = 29

In [16]:
if month==1:
    print(day)
else:
    print(sum(day_month[:month-1])+day)

265

In [17]:
 money = int(input("請輸入購物金額："))
 
if(money >= 10000):
    if(money >= 100000):
        print(money * 0.8, end=" 元\n")  #八折
    elif(money >= 50000):
        print(money * 0.85, end=" 元\n")  #八五折
    elif(money >= 30000):
        print(money * 0.9, end=" 元\n")  #九折
    else:
        print(money * 0.95, end=" 元\n")  #九五折
else:
    print(money, end=" 元\n")  #未打折

請輸入購物金額：500000
400000.0 元

In [18]:
a='Hello  '
b='Python!'
 
print(a+b)
 
a*2
 
(a[1:4])
 
"H" in a
 
"H" not in a

Hello  Python!

False